<p class="notice"><%= notice %></p>

<div class="container show-container">
<%= render @categorium %>

<div class="action-links">
  <%= link_to "Editar categoriÌa âœï¸", edit_categorium_path(@categorium) %> |
  <%= link_to "Regresar a CategoriÌas ðŸ‘ˆ", categoria_path %>
</div>

  <%= button_to "Eliminar esta categoriÌa âœ–ï¸", @categorium, method: :delete, class: "btn-delete" %>
</div>
