<p class="notice"><%= notice %></p>

<div class="container show-container">
  <%= render @usuario %>

  <div class="action-links">
    <%= link_to "Editar usuario âœï¸", edit_usuario_path(@usuario) %> |
    <%= link_to "Regresar a Usuarios ðŸ‘ˆ", usuarios_path %>
  </div>

  <%= button_to "Eliminar este usuario âœ–ï¸", @usuario, method: :delete, class: "btn-delete" %>
</div>
